@inherits LayoutComponentBase

<PageTitle>TodoList</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-6.0" target="_blank">ASP.NET Core Blazor</a>
            <a href="https://developers.redhat.com/products/openshift/overview" target="_blank">OpenShift</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
